---
import ArrowLeft from "./icons/ArrowLeft.astro";
---
<a class="flex justify-center gap-x-1 border-solid border-2 border-green-400 rounded-md w-36 m-4 px-2 py-1" href="/">
    <ArrowLeft/> Volver Atrás
</a>