<div class="my-16">
    <div class="flex gap-4">
        <div class="flex flex-col w-full justify-center items-center  mr-6">
            <img class="size-50 md:size-[90%] " src="/benefits-pic.svg" alt="">
        </div>
        <div class="w-full md:text-left text-center">
            <span class="text-sm md:text-2xl font-bold text-balance">
                Conoce todos los beneficios que incluyen nuestras pasantías
            </span>
            
            <ul class="mt-3 text-left text-xs md:text-xl leading-6 md:leading-9 indent-0 md:indent-8">
                <li>✔️ Pasajes Ida y Vuelta</li>
                <li>✔️ Hotel de 4⭐</li>
                <li>✔️ Habitaciones dobles</li>
                <li>✔️ Traslado del aeropuerto al hotel</li>
                <li>✔️ Desayuno buffet</li>
            </ul>
        </div>
    </div>
</div>
