<div class="md:my-20 my-12">
    <h1 class="md:text-2xl text-center text-lg font-bold">Nuestra Filosofía</h1>
    <div class="grid grid-cols-3 mt-10 gap-4">
        <span class="font-extrabold text-green-800 md:text-lg text-[14px] mb-10 -skew-y-6 text-center">"Enfócate en la solución antes que el problema"</span>
        <span class="font-extrabold text-green-800 md:text-lg text-[14px] mb-10 -skew-y-6 text-center">"Ama lo que haces y perfecciónate cada día"</span>
        <span class="font-extrabold text-green-800 md:text-lg text-[14px] mb-10 -skew-y-6 text-center">"Tu desarrollo depende de ti, es necesario buscarlo"</span>
    </div>
</div>