---
import ArrowRight from "./icons/ArrowRight.astro"
import HeaderButton from "./HeaderButton.astro"
---

<header >
    <nav class="flex justify-center md:m-4 m-12">
        <div class="hidden md:flex items-center">
            <img class="size-24 ml-6 rounded-lg" src="/img/cecapdLogo.png" alt="CecapdLogo">
        </div>
        <div class="flex w-full justify-center items-center">
            <ul class="flex fixed gap-x-4 md:border border-solid border-black backdrop-blur-xl px-6 py-2 rounded-full ">
                <HeaderButton href="#principal">Principal</HeaderButton>
                <HeaderButton href="#conocenos">Conocenos</HeaderButton>
                <HeaderButton href="#pasantias">Pasantías</HeaderButton>
                <HeaderButton href="#convenios">Convenios</HeaderButton>
            </ul>
        </div>
        <div class="flex items-center">
            <button class="hidden font-semibold md:flex gap-x-1 bg-green-500 rounded-md px-4 py-2">
                Contactanos <ArrowRight />
            </button>
        </div>
    </nav>
</header>