---
import ArrowRight from "./icons/ArrowRight.astro"
---

<header >
    <nav class="flex justify-between m-4">
        <div class="flex items-center">
            <img src="../assets/cecapdLogo.png" alt="CecapdLogo">
        </div>
        <div class="flex justify-center items-center">
            <ul class="flex fixed gap-x-4">
                <a href="#principal">Principal</a>
                <a href="#principal">Archivo</a>
                <a href="#principal">Pasantias</a>
                <a href="#principal">Convenios</a>
            </ul>
        </div>
        <button class="flex bg-green-400 rounded-md p-2">
            Contactanos <ArrowRight />
        </button>
    </nav>
</header>