---
import PasantiaItem from "./PasantiaItem.astro"

const PASANTIAS =[
    [//2019, 2020, 2022
        {
            id: "Peru-Chile-2019",
            title: "Perú - Chile",
            img: "/img/2019-1.webp"
        },
        {
            id: "Peru-Costa-Rica-2019",
            title: "Perú - Costa Rica",
            img: "/img/2019-2.webp"
        },
        {
            id: "Peru-Mexico-2020",
            title: "Perú - México",
            img: "/img/2020-1.webp"
        },
        {
            id: "Peru-Colombia-2022",
            title: "Perú - Colombia",
            img: "/img/2022-1.webp"
        }
    ],
    [//2023
        {
            id: "Peru-Costa-Rica-2023",
            title: "Perú - Costa Rica",
            img: "/img/2023-1.webp"
        },
        {
            id: "Peru-Argentina-2023",
            title: "Perú - Argentina",
            img: "/img/2023-2.webp"
        },
        {
            id: "Peru-Chile-2023",
            title: "Perú - Chile",
            img: "/img/2023-3.webp"
        },
        {
            id: "Peru-Colombia-2023",
            title: "Perú - Colombia",
            img: "/img/2023-4.webp"
        },
        {
            id: "Peru-Chile-2023-2",
            title: "Perú - Chile (II)",
            img: "/img/2019-1.webp"
        }
    ],
    [//2024
        {
            id: "Peru-Mexico-2024",
            title: "Perú - México",
            img: "/img/2024-1.webp"
        },
        {
            id: "Peru-Chile-2024",
            title: "Perú - Chile",
            img: "/img/2024-2.webp"
        },
        {
            id: "Peru-Chile-2024-2",
            title: "Perú - Chile (II)",
            img: "/img/2024-3.webp"
        }
    ]
]

---

<div {...Astro.props}>
    <h1 class="text-center text-2xl md:text-4xl font-bold mb-5">Pasantías Jurídicas Internacionales</h1>
    
</div>
<section>
    <h2 class="text-2xl font-extrabold text-gray-900 my-6">2019 - 2022</h2>
    <ol>                  
        <section class="grid grid-cols-1 lg:grid-cols-3 gap-x-6 gap-y-8">
            {
                PASANTIAS[0].map(
                    (pasantia_2019) => (
                        <PasantiaItem {...pasantia_2019}/>
                    )
                )
            }
        </section>
    </ol>
    <h2 class="text-2xl font-extrabold text-gray-900 my-6">2023</h2>
    <ol>
        <section class="grid grid-cols-1 lg:grid-cols-3 gap-x-6 gap-y-8">
            {
                PASANTIAS[1].map(
                    (pasantia_2023) => (
                        <PasantiaItem {...pasantia_2023}/>
                    )
                )
            }
        </section>                  
    </ol>
    <h2 class="text-2xl font-extrabold text-gray-900 my-6">2024</h2>
    <ol>
        <section class="grid grid-cols-1 lg:grid-cols-3 gap-x-6 gap-y-8">
            {
                PASANTIAS[2].map(
                    (pasantia_2024) => (
                        <PasantiaItem {...pasantia_2024}/>
                    )
                )
            }
        </section>                  
    </ol>

</section>